/* '*' = 전체선택자 */
* {
    color: black;
}

/* 태그선택자 */
div {
    background-color: aqua;
}
/* 클래스 선택자 */
.orange {
    color: orange;
}
.bg-red {
    background-color: red;
}
/* 아이디 선택자 */
#red {
    color: red;
}

#list_1 {
    color: red;
}





