<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파일 업로드_실습</title>
  </head>
  <body>
    <h2>가장 기본적인 설정</h2>
    <!-- 일반 폼 전송을 이용해서 파일 업로드 하기 -->
    <!-- enctype : application/x-www-form-urlencoded(기본값) -->
    <!-- 파일을 전송하려면 multipart/form-data로 변경해야 함. -->


    <h2>multer storage를 이용한 설정</h2>
    <form action="/upload/detail" method="post" enctype="multipart/form-data">

      <input type="password" name="pw" placeholder="비밀번호" />

      <input type="text" name="name" placeholder="이름" />
      <br />
      <input type="text" name="age" placeholder="나이" />
      <br />
      <input type="file" name="userfile" />
      <button type="submit">회원가입</button>
    </form>


  </body>
</html>