<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <style>
      body {
        margin: 0;
        padding: 0;
      }

      .navbar {
        background-color: #333;
        overflow: hidden;
      }

      .navbar button {
        float: left;
        display: block;
        color: #333;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }

      #logout {
        display: none;
      }

      #login {
        display: inline;
      }

      #codingon {
        background-color: #333;
        color: white;
        /* 글자 색상을 흰색으로 설정 */
        font-weight: bold;
        /* 굵은 글꼴로 설정 */
      }

      .navbar button:hover {
        background-color: #555;
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <button id="codingon">Codingon</button>
      <button id="menu1">Menu1</button>
      <button id="menu2">Menu2</button>
      <button id="login" onclick="login()">Logoin</button>
      <button id="logout">Logout</button>
    </div>
    <div>
      <h1>실습. Session 연습</h1>
      <p>여기는 Home입니다!</p>
      <p class="message">로그인을 아직 하지 않으셨군요! 로그인을 진행해주세요</p>
    </div>

    <script>
      function login() {

      }
    </script>
  </body>
</html>