/* div {
    display: block;
} */
.box {
    background-color: black;
    width: 100px;
    height: 100px;
    color: white;
    margin: 5px;

    /* 박스 내부 글자 가운데 정렬 */
    text-align: center;
    line-height: 100px;

}

.css-display {
    height: 100px;
}

/* inline: width, height, margin(top, bottom) 무용지물 */
/* inline-block: inline-block과 block의 특징을 합쳐놓음 (inline: content의 크기만큼만 공간을 차지 / block: width, height, margin 정상 작동 */
.d-inline-block {
    display: inline-block;
    margin: 20px;
    background-color: black; 
}

.container {
    /* flex: '자식 요소'를 inline-block 으로 만듦 */
    display: flex;
    /* 주축이 새로가 됨(기본은 가로) */
    flex-direction: column; 
    height: 1000px;
    
}

.container-2 {
    /* flex-wrap, justify-content(주축을 기준으로 => flex가 가로인지 새로인지에 따라) */
    display: flex;
    width: 400px;
    height: 400px;
    background-color: blue;
    flex-wrap: wrap;

    /* center, space-between(최대한 간격두고), space-aruond(양 옆 여백을 동일하게), space-evenly(...) */
    justify-content: space-between; 
    /* 주축에 세로 정렬 */
    align-items: flex-start;
}

.container-3 {
    margin-top: 20px;
    display: flex;
    width: 400px;
    height: 400px;
    background-color: blue;
    flex-wrap: wrap;

    
    justify-content: space-between; 
    
    align-items: flex-start;

    /* 복습 ㄱㄱ */
    align-content: center;

    margin-top: 20px;
}