:root {
    /* css변수사용예시 */
    --main-color: navy;
    --height-header: 80px;
}

.container {
    margin-top: var(--height-header-lg);
    width: 500px;
    height: 500px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}

.box {
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}


/*
@media screen and (min-width: 700px){
     //700px 이상일 경우 
    .container {
        background-color: blue;
    }
}

@media screen and (max-width: 700px){
     //700px 이하일 경우 
    .container {
        background-color: darkgoldenrod;
    }
}
*/

@media screen and(max-width: 500px) {
    .container {
        display: block;
    }
}