.div-hover:hover {
    background-color: red;
}

.div-active:active {
    background-color: blue;
    color: white;
}

.input-focus:focus {
    background-color: orange;
}

a:visited {
    color: red;
}

/* fruits 하위요소 중에 첫번 째 요소가 span일 경우에만 선택! */
.fruits span:first-child {
    color: red;
}

/* fruits 하위요소의 마지막 요소가 h3 태그이어야 선택 됨! */
.fruits h3:last-child {
    color: blue;
}

/* 마찬가지로 n번째 요소가 span 태그이어야 선택 됨! */
.fruits span:nth-child(2) {
    color: aqua;
}

.fruits-2 span:nth-child(2n+1) {
    color: blue;
}

/* not 가상선택자 */
/* span태그 중에 wm클래스를 가지지 않은 것들만 선택함! */
.fruits-2 span:not(.wm) {
    background-color: yellow;
}

/* 전체선택자의 하위의 있는 요소들 중 span이 아닌 것만 선택! */
.fruits *:not(span) {
    background-color: aqua;
}