hr + .lion {
    background-color: red;
}

.zoo > ul .lion {
    background-color: greenyellow;
}

#tiger {
    background-color: yellow;
}


.lion {
    color: sienna;
}


.zoo .lion {
    font-weight: bold;
}

#tiger + li {
    background-color: skyblue;
}

li.lion ~ li {
    background-color: orange;
}