@keyframes change-bg-color {
    0% {}

    20% {
        background-color: #636888;
    }

    40% {
        background-color: #b1e1e2;
    }

    60% {
        background-color: #fcd2e2;
    }

    80% {
        background-color: #675577;
    }

    100% {
        background-color: #636888;
    }

}

.sky {
    position: relative;
    width: 800px;
    height: 500px;
    background-color: gray;
    animation: change-bg-color 4s linear 1s infinite alternate;

}

.city {

    top: 50%;
    width: 50%;
    position: absolute;
    left: 25%;

}

@keyframes moon-rotate {
    0% {
        opacity: 1;
        rotate: 90deg;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.moon {
    position: absolute;
    width: 100px;
    top: 90px;
    left: 150px;
    animation: moon-rotate 4s infinite alternate;
}

@keyframes sun-rotate {
    0% {
        opacity: 0;
        rotate: 30deg;
    }

    25% {
        opacity: 1;
        rotate: 50deg;
    }

    50% {
        opacity: 0;
        rotate: 70deg;
    }

    75% {
        opacity: 1;
        rotate: 90deg;
    }

    100% {
        opacity: 0;
        rotate: 110deg;
    }
}

.sun {
    position: absolute;
    width: 100px;
    top: 90px;
    left: 150px;
    animation: sun-rotate 4s linear 0s infinite normal;
}

@keyframes cloud-1 {
    0% {
        left: 600px;
        opacity: 0;
    }

    50% {
        left: 180px;
        opacity: 1;
    }

    100% {
        left: 600px;
        opacity: 0;
    }
}

.cloud-1 {
    position: fixed;
    width: 110px;
    top: 160px;
    left: 180px;
    animation: cloud-1 9s linear 0s infinite alternate;
}

@keyframes cloud-2 {
    0% {
        left: 600px;
        opacity: 0;
    }

    25% {
        left: 180px;
        opacity: 1;
    }

    50% {
        left: 600px;
        opacity: 0;
    }

    75% {
        left: 180px;
        opacity: 1;
    }

    100% {
        left: 600px;
        opacity: 0;
    }
}

.cloud-2 {
    position: fixed;
    width: 70px;
    top: 188px;
    left: 180px;
    animation: cloud-2 11s linear 0s infinite alternate;
}